<div class="flex min-h-screen">
    <!-- Sidebar -->
    <aside id="sidebar"
        class="sidebar bg-white text-white flex flex-col h-screen fixed left-0 z-10 w-64 border-r border-gray-300">
        <!-- Logo -->
        <div class="h-20 p-4 flex justify-center border-b">
            <div class="flex items-center nav-item">
                <div class="w-8 h-8 bg-primary text-white mx-auto">
                    <img src="../../../../../assets/logo.png">
                </div>
                <div class="ml-3 logo-text">
                    <div class="text-lg font-semibold text-gray-800">UIB Bank</div>
                    <div class="text-xs text-gray-500">Payment Gateway</div>
                </div>
            </div>
        </div>

        <!-- Navigation -->
        <nav class="flex-1 px-4 py-6">
            <ul class="space-y-2">
                <li>
                    <a routerLink="/admin/dashboard" routerLinkActive="bg-primary bg-opacity-90 !text-white"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="nav-item flex items-center p-3 text-gray-600 rounded transition-all">
                        <div class="w-6 h-6 flex items-center justify-center">
                            <i class="ri-dashboard-line ri-lg"></i>
                        </div>
                        <span class="ml-3">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/admin/wallets" routerLinkActive="bg-primary bg-opacity-90 !text-white"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="nav-item flex items-center p-3 text-gray-600 rounded transition-all">
                        <div class="w-6 h-6 flex items-center justify-center">
                            <i class="ri-wallet-3-line ri-lg"></i>
                        </div>
                        <span class="ml-3">Wallet Management</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/admin/accounting" routerLinkActive="bg-primary bg-opacity-90 !text-white"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="nav-item flex items-center p-3 text-gray-600 rounded transition-all">
                        <div class="w-6 h-6 flex items-center justify-center">
                            <i class="ri-calculator-line ri-lg"></i>
                        </div>
                        <span class="ml-3">Accounting Schema</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/admin/customers" routerLinkActive="bg-primary bg-opacity-90 !text-white"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="nav-item flex items-center p-3 text-gray-600 rounded transition-all">
                        <div class="w-6 h-6 flex items-center justify-center">
                            <i class="ri-contacts-line ri-lg"></i>
                        </div>
                        <span class="ml-3">Customer Management</span>
                    </a>
                </li>

                 <li>
                    <a routerLink="/admin/add-customer" routerLinkActive="bg-primary bg-opacity-90 !text-white"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="nav-item flex items-center p-3 text-gray-600 rounded transition-all">
                        <div class="w-6 h-6 flex items-center justify-center">
                            <i class="ri-dashboard-line ri-lg"></i>
                        </div>
                        <span class="ml-3">Add Customer</span>
                    </a>
                </li> 

                <li>
                    <a routerLink="/admin/profiling" routerLinkActive="bg-primary bg-opacity-90 !text-white"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="nav-item flex items-center p-3 text-gray-600 rounded transition-all">
                        <div class="w-6 h-6 flex items-center justify-center">
                            <i class="ri-user-settings-line ri-lg"></i>
                        </div>
                        <span class="ml-3">Users Profiling</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/admin/" routerLinkActive="bg-primary bg-opacity-90 !text-white"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="nav-item flex items-center p-3 text-gray-600 rounded transition-all">
                        <div class="w-6 h-6 flex items-center justify-center">
                            <i class="ri-bank-card-line ri-lg"></i>
                        </div>
                        <span class="ml-3">Products</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Sidebar Footer -->
        <div class="p-4 border-t border-gray-300 flex items-center justify-between sidebar-footer">
            <!-- Profile -->
            <div class="flex items-center profile">
                <div class="w-8 h-8 rounded-full bg-gray-300 flex items-center justify-center">
                    <!-- You can replace this with an actual avatar image -->
                    <span class="text-xs font-medium text-gray-700">MA</span>
                </div>
                <div class="ml-3">
                    <p class="text-sm font-medium text-gray-900">{{fullname}}</p>
                    <!-- <p class="text-xs text-gray-500">{{role}}</p> -->
                </div>
            </div>

            <!-- Logout Button -->
            <button (click)="logout()"
                class="flex items-center p-2 text-gray-600 hover:text-gray-900 rounded-full transition-all hover:bg-gray-100">
                <div class="w-6 h-6 flex items-center justify-center">
                    <i class="ri-logout-box-line ri-lg"></i>
                </div>
            </button>
        </div>

        <!-- Toggle Button -->
        <button id="toggleSidebar" (click)="toggleSidebar()"
            class="absolute -right-3 top-20 bg-primary text-white w-6 h-6 rounded-full flex items-center justify-center">
            <i class="ri-arrow-left-s-line"></i>
        </button>
    </aside>
    <!-- Main Content -->
    <main id="mainContent" class="main-content ml-[260px] bg-gray-100 flex flex-col min-h-screen">
        <!-- Header -->
        <header class="flex justify-between items-center border-b px-6 py-4 bg-white shadow-lg sticky">
            <div>
                <h1 class="text-2xl font-bold text-gray-900">Dashboard</h1>
                <p class="text-gray-600">Welcome back, {{username}}</p>
            </div>

            <div class="flex items-center space-x-4">

                <!-- Language -->
                <div class="d-flex align-items-center">
                    <div class="lang-switch d-flex align-items-center me-3">
                        <span class="ri-global-line fs-5 me-2"></span>
                        <select>
                            <option>EN</option>
                            <option>FR</option>
                            <option>ES</option>
                        </select>
                    </div>
                </div>

                <!-- Notifications -->
                <div class="relative">
                    <button class="relative p-2 bg-gray-100 rounded-full hover:bg-gray-200 transition-all">
                        <div class="w-5 h-5 flex items-center justify-center">
                            <i class="ri-notification-line"></i>
                        </div>
                        <span class="absolute top-0 right-0 w-2 h-2 bg-primary rounded-full"></span>
                    </button>
                </div>
            </div>
        </header>
        <!-- main content -->
        <div class="flex-1 overflow-y-auto p-6 custom-scrollbar">
            <router-outlet></router-outlet>
        </div>
        <!-- footer -->
        <footer class="mt-auto text-center text-sm text-gray-500 mx-4 py-4 border-t border-gray-200">
            &copy; {{ currentYear }} UIB. All rights reserved.
        </footer>
    </main>
</div>